@import "tailwindcss";

@theme {
  --color-primary: #ff6a3d;
  --color-primary-dark: #e55a2d;
  --color-background: #f7f7f8;
  --color-surface: #ffffff;
  --color-text-primary: #1a1a1a;
  --color-text-secondary: #8a8a8a;
}

@layer base {
  body {
    @apply bg-background text-text-primary antialiased font-sans h-screen w-screen overflow-hidden;
  }
}
